# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
._*

# Editors
*~
*.swp
*.tmproj
*.tmproject
*.sublime-*
.idea/
.project/
.settings/
.vscode/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
bower_components/
node_modules/

# Yeoman meta-data
.yo-rc.json

# Build-related directories
dist/
dist-test/
docs/api/
es5/
